Lesson 13: Relational Databases and SQL
====================
---
Prof. James Sharpnack<br>
Statistics Department, UC Davis<br>
&copy; 2018

<h3>Relational Database Management Systems</h3>

<p>
  Relational database management systems (RDBMS) is a database system that is based on the relational model of <a href="http://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf">Codd, "A Relational Model of Data for Large Shared Data Banks", 1970.</a>
  A database management system is a computer application that stores data in a structured way, and allows users to interact with that data.
  The RDBMS organizes the data in tables, where the rows are records and columns are attributes (it is not a coincidence that this describes a DataFrame).
  There are a few fundamental properties of the relational model (from Codd 1970):
  <ul>
    <li>(1) Each row is an n-tuple</li>
    <li>(2) The ordering or rows is unimportant</li>
    <li>(3) The rows are distinct</li>
    <li>(4) The ordering of columns is significant because each corresponds to a unique attribute</li>
    <li>(5) Each column has a descriptive name</li>
  </ul>
  There are several basic operations that can be made on the table, and these will be baked into our language (SQL) that interacts with the RDBMS.
  We will not go over these, because we will implicitely learn this when we learn SQL.
  The main advantage of having a separate language SQL that works over many RDBMSs is that we can write code that works regardless of the database engine.
  The paper, Codd 1970, begins with the following...
</p>

<p>
"Future users of large data banks must be protected from
having to know how the data is organized in the machine (the
internal representation). A prompting service which supplies
such information is not a satisfactory solution. Activities of users
at terminals and most application programs should remain
unaffected when the internal representation of data is changed
and even when some aspects of the external representation
are changed." Codd 1970.
</p>

<p>
  The top RDBMSs are Oracle Database, Microsoft SQL Server, and MySQL.
  Some of these are open source, and each will store data differently.
  Each database will have many tables that may be related by sharing keys.
  We will use SQLite, which is an extremely lightweight RDBMS that stores all of the database in a single sqlite file.
  You can think of sqlite files in the same way that you think of CSV files.
  The advantage is that the sqlite file will store the data types of each column, table metadata, and multiple tables within a database.
</p>

<h3>Structured Query Language (SQL)</h3>

<p>
  As we have said, SQL, is a language that provides a unified method for performing several basic operations on databases.
  SQL is a declarative language in that it is based on logical statements that are interpreted by the RDBMS, as opposed to a procedural language, such as Python, which allows the programmer to dictate the control flow.
  You can create a table with the code
  <pre>create table animals (
    name text,
    species text,
    age integer,
    shelter_id integer)</pre>
  Running this command will generate an empty table called animals that has 4 columns.
  You can then insert rows into the table with
  <code>insert into animals values ("Emmy", "dog", 1, "CA")</code>.
  Furthermore, we can retrieve records with the select statement by
  <code>select \* from animals</code>
  which will return the entire animals table.
  You can add a "where" clause to the select statement: <code>select \* from animals where species="dog"</code>.
  This will select only the records with the species set to 'dog'.
  Other operators can be used, such as <code>=,<,>,!=,between,like,in,is not null, as</code>, where 'like' will match patterns for text, and 'as' can change a field name in the select statement.
</p>
<p>  
  You can apply functions and select specific columns with the select statement as in <code>select name, log(age + 1) from animals</code>.
  Moreover, there are aggregating functions such as in <code>select count(\*) from animals</code> which will return the number of records.
  The group by clause, as in <code>select avg(age), count(\*) from animals group by species</code> will group the records by species and then apply aggregations within the groups.
  Another common clause is the order by clause as in <code>select name from animals where species="dog" order by age</code> will return the dogs in ascending order of age.
</p>

<p>
  Other statements that we will not go over in detail are <code>insert, update, alter table, drop table</code>.
  With insert you can add records, and update will let you modify records.
  With alter table you can add and drop columns, and drop table will remove the table all together.
  We will not be using these in this lesson, because we will construct our database with pandas.
  In day to day operations of data scientists, select statements are extremely common, where modifications to existing tables are done offline in scripts.
  In this lesson we will use pandas to construct the table and make the sql select statements.
</p>

<p>
  We have already talked about joining tables.
  The idea is that if some columns are comparable between two tables then you can match up indices and concatentate the columns.
  So for example, if we have the animals and shelter table.
  Suppose that the shelters table has columns: id, state, and county.
  Then if we wanted to see the animals in a county, then we will need to join these tables.
  We can do this by<br><br>
  <code>select \* from animals join shelters on animals.shelter_id = shelters.id</code>
</p>
<p>
  We have a choice when it comes to what happens when there is no match.
  The above statement is called a left join, and the returned records match a record in the animals table.
  So for example, if the record <code>"Kermit", "cat", 10, 19234</code> does not have a match then do you fill NAs (left join) or do you remove it (inner join).
  If you have shelter records with no match, then in a left join will not return them, but you could do an outer join to return that with NAs filled in the animal columns.
  This would be accomplished with <code>select \* from animals outer join shelters on animals.shelter_id = shelters.id</code>.
</p>

**Checkpoint:** Look at <a href="http://www.sqltutorial.org/">this tutorial site</a>, where sections 1-8 are relevant.  You should use it more as a reference. There are also <a href="http://www.itl.nist.gov/div897/ctg/dm/sql_examples.htm">these examples</a>.

<h3>Pandas and SQLAlchemy</h3>

<p>
  The sqlalchemy package provide a unified way to interact with many different RDBMSs.
  You have to begin by initializing the connection to a database, which is done by the <code>create_engine</code> command.
  <pre>from sqlalchemy import create_engine
    disk_engine = create_engine('sqlite:///pets.sqlite')</pre>
  This creates the connection to the sqlite file that will contain your database.
  Then you can use the methods: <code>pd.to_sql, pd.read_sql_query</code>.
  A typical way to use pandas then would be to construct the table in chunks and write to the database.
  This way you can store much more data in the database than what you can store in memory.
</p>

**Checkpoint:** Look at the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql_query.html">pandas read_sql_query documentation</a> and the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql">pandas to_sql documentation</a>.